/Exercícios-OCP/ProcessoDaSalaDeEmergenciaRefatorado/nbproject/private/
/Exercícios-OCP/ProcessoDaSalaDeEmergenciaRefatorado/build/
/Exercícios-LSP/School/nbproject/private/
/Exercícios-LSP/School/build/
/Exercícios-LSP/SchoolRefactored/nbproject/private/
/Exercícios-ISP/CustomerTransaction/nbproject/private/
/Exercícios-ISP/CustomerTransactionRefactored/nbproject/private/